
body {
	font-family: -apple-system, system-ui, sans-serif;
	max-width: 60em;
	margin: 0 auto;
	background: #151A1E;
	color: #fff;
	overflow-y: scroll;
	overflow-anchor: none;
	padding: 1em 1em 10em 1em;
}
pre,
code {
	font-family: inherit;
}
pre {
	white-space: pre-wrap;
}

.help {
	font-size: 6px;
	white-space: pre;
}