
body {
	font-family: -apple-system, system-ui, sans-serif;
	max-width: 60em;
	margin: 0 auto;
	background: #222;
	color: #fff;
	overflow-y: scroll;
	overflow-anchor: none;
	padding: 1em 1em 10em 1em;
}
pre,
code {
	font-family:  SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
}
pre {
	white-space: pre-wrap;
}
th, td {
	padding: .25em .5em;
}
a[href],
a[href]:visited {
	color: inherit;
}
.help {
	white-space: pre;
}
squirm-inal {
	margin: .5em 0;
}