/* Drive a question from a group of details */
squirm-inal-group summary {
  padding: .5em;
  cursor: default;
  border: 1px solid;
}
squirm-inal-group.enhanced summary {
  display: inline-block;
  border-radius: .5em;
}
squirm-inal-group.enhanced summary::-webkit-details-marker {
  display: none;
}
squirm-inal-group.enhanced:not(.readonly) {
  display: inline-flex;
  gap: .5em;
}
squirm-inal-group.readonly details summary {
  display: none;
}
[data-squirminal-global-command="invalid"] summary {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap; /* 1 */
  width: 1px;
}


.sq-active,
.sq-active ~ squirm-inal-group {
  visibility: hidden;
}