@keyframes squirminal-blink {
	0% {
		background-color: var(--sq-cursor);
	}
	100% {
		background-color: transparent;
	}
}

:root {
  --sq-font: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  --sq-cursor: #30c8c9;
  --sq-focus-ring: #30c8c9;
}
.js .sq-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap; /* 1 */
  width: 1px;
}
.sq-nojs-hide {
  margin: 0;
}
.sq-nojs-hide,
squirm-inal[js-show] {
  display: none;
}
.js .sq-nojs-hide,
.js squirm-inal[js-show] {
  display: block;
}

.js .sq-js-hide {
  display: none;
}

/* Disabled details */
.js details[disabled] > summary {
  display: block;
  pointer-events: none;
}
.js details[disabled] > summary::-webkit-details-marker {
  display: none;
}
.js details[disabled]:not([open]) {
  display: none;
}

/* Squirminals */
squirm-inal,
squirm-inal-form {
  display: block;
  margin-top: .5em;
  margin-bottom: .5em;
}
squirm-inal {
  font-family: var(--sq-font);
}
.squirminal-content {
  line-height: 1.4;
}
.squirminal-content .sq-empty {
  display: none;
}
/* Cursor */
.squirminal-cursor-show .squirminal-content:after {
  content: '';
  display: inline-block;
  width: 0.7em;
  height: 1.2em;
  margin-left: 0.2em;
  background-color: var(--sq-cursor);
  vertical-align: text-bottom;
  animation: squirminal-blink 1s infinite steps(2, start);
}
