@keyframes squirminal-blink {
	0% {
		background-color: var(--sq-cursor);
	}
	100% {
		background-color: transparent;
	}
}

:root {
  --sq-font: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  --sq-cursor: #30c8c9;
  --sq-focus-ring: #30c8c9;
}
.sq-nojs-hide {
  margin: 0;
}
.sq-nojs-hide,
squirm-inal[js-show] {
  display: none;
}
.js .sq-nojs-hide,
.js squirm-inal[js-show] {
  display: block;
}

.js .sq-js-hide {
  display: none;
}

squirm-inal,
squirm-inal-form {
  display: block;
  margin-top: .5em;
  margin-bottom: .5em;
}
squirm-inal {
  white-space: pre-wrap;
  font-family: var(--sq-font);
}
.squirminal-content {
  line-height: 1.4;
}
.squirminal-content :empty {
  display: none;
}
/* Cursor */
.squirminal-cursor-show .squirminal-content:after {
  content: '';
  display: inline-block;
  width: 0.7em;
  height: 1.2em;
  margin-left: 0.2em;
  background-color: var(--sq-cursor);
  vertical-align: text-bottom;
  animation: squirminal-blink 1s infinite steps(2, start);
}

/* Drive a question from a form */
squirm-inal-form {
  font-family: var(--sq-font);
}
squirm-inal-form label {
  display: flex;
  gap: .5em;
  flex-wrap: wrap;
  align-items: center;
  white-space: nowrap;
}
squirm-inal-form input {
  flex-basis: 16em;
  flex-grow: 1;
  background-color: inherit;
  color: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: 1em;
  width: 100%;
  border: 1px solid rgba(255,255,255,.2);
  border-radius: .25em;
  padding: .25em;
}
@supports (box-shadow: none) {
  squirm-inal-form input:focus {
    box-shadow: 0 0 1px 2px var(--sq-focus-ring);
    outline: 2px var(--sq-focus-ring);
    caret-color: var(--sq-focus-ring);
  }
}
squirm-inal-form input[readonly] {
  border-color: transparent;
}
squirm-inal-form form.command-running {
  visibility: hidden;
}
squirm-inal-form label span:after {
  content: ">";
  font-weight: bold;
  font-family: system-ui, sans-serif;
  color: #32c8c9;
  display: inline-block;
  margin-left: .5em;
}

/* Drive a question from a group of details */
squirm-inal-group.enhanced summary {
  display: inline-block;
}
squirm-inal-group.enhanced summary::-webkit-details-marker {
  display: none;
}
squirm-inal-group.enhanced:not(.readonly) {
  display: inline-flex;
  gap: .5em;
}
squirm-inal-group.readonly details summary {
  display: none;
}